.overtable {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    text-align: left;
}

.segment-select {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.segment-select-menu-item {
    width: 500px;
}

.segment-select .mdc-menu .mdc-list-item {
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .segment-select,
    .overtable {
        width: 100%;
    }

    .segment-select-menu-item {
        width: 100%;
        height: 200px;
    }
}